//fonts
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@200;300;400;500;600&display=swap');
@font-face {
	font-family: "Digital-7 Mono";
	src: url("static/digital-7.mono.ttf");
}

// colors
$darker: #1c1e21;
$dark: #303134 ;
$hover: #ff7200;
$offwhite: #FAFAFA;
$gray: #ebebeb;

//global left/right widths
$reader-width: 75%;
$navbar-width: 100% - $reader-width;

html {
	overflow-y: scroll;
	--deckgo-highlight-code-background: #{$offwhite};
	--deckgo-highlight-code-border-radius: 15px;
	--deckgo-highlight-code-padding: 10px 15px 10px 15px;
	--deckgo-highlight-code-token-selector: #E81782;
	--deckgo-highlight-code-token-operator: #1849F2;
	--deckgo-highlight-code-token-atrule: #21DB56;
	--deckgo-highlight-code-token-function: #EB2300;
	--deckgo-highlight-code-token-regex: darkred;
	--deckgo-highlight-code-white-space: pre;
}

:host(div.deckgo-highlight-code-container){
	border: 10px solid green;
}

body {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 18px;
	color: $dark;
	margin: 0px;
}

//debugging purposes
div {
	//border: 1px solid gray;
}

$sidebar-padding: 0.5em;

.sidebar {
	top: 0px;
	padding-left: $sidebar-padding;
	padding-right: $sidebar-padding;
	background-color: #F8F8F8;
	border-right: 1px solid orange;
	height: 100%;
	width: $navbar-width;
	position: fixed;
	left: 0px;
	z-index: 2; //this puts the right edge *over* the writeup pane
	.mobile-expand{
		display: none;
	}
}

//image variables
$img_var: 15vw;

img.profpic {
	border-radius: 100px;
	position: relative;
	height: $img_var;
	width: $img_var;
	left: calc(50% - #{$img_var/2} ); //50% minus width minus padding
	margin-bottom: 1em;
	margin-top: 1em;
	opacity: 0.9;
	/*&:hover{
		opacity: 0.95;
	}*/
}

$logo-height: 30px;
$logo-padding: 2em;

.sidebar-socials{
	height: auto;
	text-align: center;
	margin-bottom: 0.5em;
	padding-right: $logo-padding;
	padding-left: $logo-padding;
	img{
		height: $logo-height;
		width: $logo-height;
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 0.5em;
	}
	hr {
		margin-top: 1em;
		width: 100%;
	}
}

nav{ 
	text-align: left;
	display: block;
	margin: 0px;
	top: 3em;
	padding: 0px;
	font-weight: 400;
	a {
		color: $dark;
		text-decoration: none;
		font-size: 1.6em;
		&:hover{
			box-shadow: 0px -10px inset lightblue;
			z-index: 5;
		}
	}
	li {
		list-style-type: none;
		padding-left: 0.5em;
	}
}

.overall-container{
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	min-height: 100%;
}

//variables for padding
$padding: 4em;

.writeup {
	position: relative;
	//background-color: linen;
	margin: 0px;
	margin-left: $navbar-width;
	padding: $padding;
	padding-top: $padding/4;
	height: 100%;
	img {
		box-shadow: 0px 0px 15px $gray;
		margin-left: 3em;
		margin-right: 3em;
	}
}

$mobile-breakpoint: 900px;

@media only screen and (max-width: $mobile-breakpoint) {
	$sidebar-width: 7vw;
	$expanded-sidebar-width: 70vw;
	$sidebar-padding: 1em;
	$transition: all ease 0.4s;
	$arrow-size: 24px;

	.sidebar {
		transition: $transition;
		width: $sidebar-width;

		.sidebar-socials {
			padding: 0px;

			img {
				padding: 0px 0px 1em 0px;
				margin: 0px;
			}

			.shortBio {
				display: none;
			}

			hr {
				margin: 0px;
			}
		}

		.nav-link {
			display: none;
		}

		li {
			text-align: center;
			padding: 0px;
		}

		.mobile-expand {
			font-size: $arrow-size;
			display: block;
			cursor: pointer;
			width: $sidebar-width;
		}

		img.profpic {
			border-radius: 100px;
			position: relative;
			height: $sidebar-width;
			width: $sidebar-width;
			left: calc(50% - #{$sidebar-width/2} ); //50% minus width minus padding
			margin-bottom: 1em;
			margin-top: 1em;
			margin-left: 0px;
			opacity: 0.9;
		}

		img{
			height: 0.8 * $sidebar-width;
			width: 0.8 * $sidebar-width;
		}
	}

	.expanded-sidebar {
		top: 0px;
		padding-left: $sidebar-padding;
		padding-right: $sidebar-padding;
		background-color: #F8F8F8;
		border-right: 1px solid orange;
		height: 100%;
		width: $expanded-sidebar-width;
		position: fixed;
		left: 0px;
		z-index: 2;
		transition: $transition;

		nav {
			display: block;
		}

		.mobile-expand {
			margin-top: -0.2em;
			padding-left: 2vw;
			font-size: $arrow-size;
			cursor: pointer;
			text-align: right;
		}

		img.profpic {
			height: $expanded-sidebar-width * 2/5;
			width: $expanded-sidebar-width * 2/5;
			left: calc(50% - #{$expanded-sidebar-width/6} ); //50% minus width minus padding
		}
	}

	$padding: 1.5em;
	.writeup {
		margin-left: calc(#{$sidebar-padding} + #{$sidebar-width} - 1px);
		padding: 0px $padding 0px $padding/2;
		font-size: 16px;
	}

}
